@font-face {
  font-family: leafy;
  src: url(./fonts/leafy.ttf);
}

@font-face {
  font-family: pixel;
  src: url(./fonts/pixel.ttf);
}

@font-face {
  font-family: gm;
  src: url(./fonts/Gilroy-Medium_eHDK2RllDd.ttf);
}

@font-face {
  font-family: gsb;
  src: url(./fonts//Gilroy-Semibold_zTZ2PgJOF.ttf);
}

@font-face {
  font-family: gb;
  src: url(./fonts/Gilroy-Bold_JK4cTGJOE.ttf);
}

@font-face {
  font-family: geb;
  src: url(./fonts/Gilroy-Extrabold_YC6oQDa3Ix.ttf);
}

:root {
  --text-color: #e9f1f3;
  --background: #080808;
  --primart-color: #94d0de;
  --secondary-color: #1e778d;
  --accent-color: #26bee4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--text-color);
  font-family: gm;
  scroll-behavior: smooth;
}

::selection {
  color: black;
  background: #26bee4;
}

.main-container {
  max-width: calc(1920px + 30px);
  padding: 0 15px;
  margin: 0 auto;
}

.heading {
  font-family: leafy;
  font-size: 5rem;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1875rem;
}

.loader__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.loader,
.loader__two {
  height: 100%;
  width: 100%;
  background-color: rgba(34, 33, 33, 0.3);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 99;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* landing page */
.header {
  padding: 0 8rem;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.background__image {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.hero__image {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image img {
  position: absolute;
  height: 20rem;
  width: 20rem;
  opacity: 0.2;
  border-radius: 20%;
}

.logo {
  font-family: Leafy;
  font-size: 1.3rem;
  font-weight: 500;
}

.header a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  z-index: 9;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 2.8rem;
}

.navbar li {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border: 1px solid var(--text-color);
  font-size: 18px;
  position: relative;
  border-radius: 150px;
  overflow: hidden;
}

.navbar li::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.navbar li:hover::after {
  bottom: 0;
  border-radius: 0;
}

.navbar li:hover a {
  color: var(--background);
}

.navbar-mobile {
  display: none;
}

.hamburger {
  display: none;
}

main {
  height: calc(100% - 6rem);
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.hero__title {
  font-family: geb;
  letter-spacing: 0.5rem;
}

.hero__title h2 {
  height: 100%;
  width: 100%;
  font-size: 16rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.hero__subtitle {
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
  padding: 0rem 8rem;
  font-family: pixel;
  letter-spacing: 0.4rem;
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.4);
}

.hero a {
  text-decoration: none;
  color: var(--text-color);
}

.hero__title span {
  -webkit-text-stroke: 5px var(--text-color);
  -webkit-text-fill-color: transparent;
}

.hero__title span::selection {
  -webkit-text-stroke: 10px black;
  -webkit-text-fill-color: transparent;
}

.social-media {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  left: -4%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}

.social-media__item {
  position: relative;
}

.social-media__item::after,
.hero__email::after,
.github a::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  background-color: var(--text-color);
  left: 0;
  bottom: -0.6rem;
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.social-media__item:hover::after,
.hero__email:hover::after,
.github a:hover::after {
  transform: scale(1);
  transform-origin: bottom left;
}

.hero__email {
  position: absolute;
  right: -3%;
  top: 49%;
  transform: translateY(-50%) rotate(90deg);
}

.github a {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 5rem;
}

.scroll a {
  position: absolute;
  bottom: 4%;
  left: 50%;
  display: flex;
  font-family: pixel;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.scroll__icon {
  font-size: 0.7rem;
}

.scroll__icon:nth-child(3) {
  opacity: 0.4;
}

/* about page */
.about {
  text-align: center;
  padding: 3rem 0;
}

/* .about__desc {
  font-size: 2.5rem;
  text-align: start;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-top: 1.5rem;
} */

.about__me {
  display: grid;
  place-content: center;
  padding: 1rem 14em;
}

.about__me p {
  font-size: 2.3rem;
  line-height: 150%;
}

/* .about__desc p {
  padding: 2rem 5rem;
  border-bottom: 1px solid var(--text-color);
  position: relative;
  z-index: 9;
} */

/* .stripe {
  height: fit-content;
  width: 100%;
  position: relative;
}

.stripe__inner {
  height: 0%;
  width: 100%;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
} */

/* projects page */
.projects {
  padding: 2rem 15rem 7rem;
}

.project__content {
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.project__desc {
  overflow: hidden;
  height: inherit;
  width: 45%;
}

.desc__elem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc__elem h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
}

.desc__elem h2 {
  line-height: 150%;
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}

.desc__last h2 {
  font-size: 2.7rem;
}

.elem__para p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  opacity: 0.8;
}

.button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border: 1px solid var(--text-color);
  background-color: transparent;
  font-size: 1.5rem;
  position: relative;
  border-radius: 150px;
  overflow: hidden;
  width: fit-content;
}

.button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--text-color);
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.button a {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.button i {
  transform: rotate(45deg);
  transition: all 0.4s ease;
}

.button:hover::after {
  bottom: 0;
  border-radius: 0;
}

.button:hover a {
  color: var(--background) !important;
}

.button:hover i {
  transform: rotate(90deg);
}

.project__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
  width: 45%;
}

.pimages {
  width: 90%;
  height: 90%;
}

.pimages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__github--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.project__github--button > .button {
  font-size: 2rem;
}

.project__small {
  display: none;
}

/* stack */
.stack {
  height: 100%;
  width: 100%;
  margin-top: -9rem;
}

.stack__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stack__title {
  font-family: leafy;
  text-align: center;
  font-weight: 800;
  font-size: 7rem;
  text-transform: uppercase;
}

.stack__images {
  height: 5.5rem;
  width: 5.5rem;
  position: absolute;
}

.tech__first {
  top: 19%;
  left: 18%;
}

.tech__second {
  top: 33%;
  left: 28%;
}

.tech__third {
  top: 47%;
  left: 18%;
}

.tech__fourth {
  top: 61%;
  left: 28%;
}

.tech__fifth {
  top: 73%;
  left: 17%;
}

.tech__fifth {
  height: auto;
  width: 8rem;
}

.tech__sixth {
  top: 19%;
  right: 18%;
}

.tech__seventh {
  height: 10rem;
  width: 10rem;
  top: 32%;
  right: 25%;
}

.tech__eight {
  top: 47%;
  right: 18%;
}

.tech__ninth {
  top: 61%;
  right: 28%;
}

.tech__tenth {
  top: 73%;
  right: 18%;
}

.stack__images img {
  height: auto;
  width: inherit;
  object-fit: cover;
}

.tech__eight {
  filter: invert(1);
}

/* portfolio footer  */
.portfolio__footer {
  padding: 1rem 12rem 3rem;
  height: fit-content;
  width: 100%;
}

.portfolio__footer h2 {
  text-transform: uppercase;
  text-align: left;
}

.portfolio__footer--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 0;
}

.portfolio__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info__content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.info__content i {
  font-size: 3rem;
  width: 3rem;
}

.info__desc h5 {
  font-size: 2rem;
  line-height: 150%;
}

.info__desc p {
  font-size: 1.2rem;
}

#successMessage {
  display: none;
  font-size: 2rem;
  padding-top: 1.5rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#contactForm label {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 150%;
}

#contactForm input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #e9f1f374;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  line-height: 150%;
  color: #e9f1f3ec;
}

#loadingMessage {
  margin-top: 2rem;
  font-size: 1.2rem;
}

#contactForm input:focus {
  border-bottom: 1px solid #e9f1f3;
}

.form__btn {
  color: #e9f1f3;
  cursor: pointer;
  margin-top: 1rem;
}

.form__btn p {
  position: relative;
  z-index: 9;
}

.form__btn:hover p {
  color: #080808;
}

.copyright {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 1px;
}

.copyright p {
  opacity: 0.3;
}

@media (width<1600px) {
  .navbar ul {
    gap: 1.8rem;
  }

  .hero__title h2 {
    font-size: 13rem;
    line-height: 110%;
  }

  .hero__subtitle {
    font-size: 1.8rem;
  }

  .social-media {
    left: -6%;
  }

  .hero__email {
    right: -5%;
  }

  .about__me {
    padding: 1rem 8rem;
  }

  .about__me p {
    font-size: 2rem;
  }

  .projects {
    padding: 1.7rem 11rem 7rem;
  }

  .desc__elem h3 {
    font-size: 1.3rem;
  }

  .desc__elem h2 {
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.2rem;
  }

  .project__github--button > .button {
    font-size: 1.7rem;
  }

  .stack__images {
    height: 4.5rem;
    width: 4.5rem;
  }
  .tech__fifth {
    height: auto;
    width: 6rem;
  }
  .tech__seventh {
    height: 8rem;
    width: 8rem;
  }
}

/* small laptops */
@media (width<1300px) {
  .about__me {
    padding: 1rem 6rem;
  }

  .about__me p {
    font-size: 1.8rem;
  }

  .projects {
    padding: 1.7rem 8rem 7rem;
  }

  .project__images {
    width: 55%;
  }

  .portfolio__footer {
    padding: 1rem 8rem 3rem;
  }
}

/* bigger tablets */
@media (width<1150px) {
  .background__image {
    display: none;
  }

  .header {
    padding: 0 4rem;
  }

  .hero {
    height: fit-content;
    padding: 2rem 0rem 4rem;
  }

  .hero__title h2 {
    font-size: 10rem;
  }

  .social-media {
    left: -8.5%;
  }

  .hero__email {
    right: -7.2%;
  }

  .about {
    padding-top: 6rem;
    padding-bottom: 0;
  }

  .about__me {
    padding: 1.5rem 4rem;
  }

  .projects {
    padding: 1.7rem 4rem 5rem;
  }

  .project__content {
    display: none;
  }

  .project__small {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .project__desc--small {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
  }

  .desc__elem {
    width: 50%;
  }

  .pimages--small img {
    height: 30rem;
    width: 20rem;
    object-fit: cover;
    object-position: top;
  }

  .tech__first,
  .tech__third {
    left: 8%;
  }

  .tech__fifth {
    left: 6%;
  }

  .tech__second,
  .tech__fourth {
    left: 20%;
  }

  .tech__sixth,
  .tech__eight,
  .tech__tenth {
    right: 8%;
  }

  .tech__seventh {
    right: 17.5%;
  }

  .tech__ninth {
    right: 20%;
  }
}

/* tablet devices */
@media (width<850px) {
  .header {
    padding: 0 2rem;
  }

  .navbar ul {
    gap: 1rem;
  }

  .navbar li {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
  }

  .hero {
    padding-top: 0rem;
    padding-bottom: 5rem;
  }

  .hero__title h2 {
    font-size: 7rem;
  }

  .hero__subtitle {
    font-size: 1rem;
    padding: 0 6rem;
    justify-content: space-between;
  }

  .social-media {
    left: -9.5%;
    font-size: 0.8rem;
  }

  .hero__email {
    right: -8%;
    font-size: 0.8rem;
  }

  .github a {
    bottom: 1rem;
  }

  .about {
    padding-top: 2rem;
  }

  .about__me {
    padding: 1.5rem 2rem;
  }

  .about__me p {
    font-size: 1.49rem;
  }

  .projects {
    padding: 1rem 2rem;
  }

  .desc__elem h2 {
    font-size: 2rem;
  }

  .desc__elem h3 {
    font-size: 1.1rem;
  }

  .elem__para p {
    font-size: 0.9rem;
  }

  .project__desc--small {
    gap: 1rem;
  }

  .button {
    font-size: 1rem;
  }

  .project__github--button > .button {
    font-size: 1.5rem;
  }

  .stack {
    height: 90%;
    margin-top: -5rem;
    padding: 2rem 0;
  }

  .stack__title {
    font-size: 5rem;
  }

  .stack__images {
    height: 3rem;
    width: 3rem;
  }

  .tech__fifth {
    height: 4rem;
    width: 4rem;
  }

  .tech__seventh {
    width: 5rem;
  }

  .portfolio__footer {
    padding: 0rem 2rem 3rem;
  }

  .info__content i {
    font-size: 2rem;
    width: 2rem;
  }

  .portfolio__footer--content {
    padding: 3rem 0;
    grid-template-columns: 0.8fr 1.1fr;
  }

  .info__content {
    gap: 1rem;
  }

  .info__desc h5 {
    font-size: 1.5rem;
  }

  .info__desc p {
    font-size: 1rem;
  }
}

/* smart phones */
@media (width<500px) {
  .header {
    padding: 1rem;
    height: 4rem;
    position: relative;
  }

  main {
    height: calc(100% - 4rem);
  }

  .navbar {
    display: none;
  }

  .logo {
    position: relative;
    z-index: 9;
  }

  .hamburger {
    display: block;
  }

  .navbar-mobile {
    display: inline;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -115%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    background-color: #080808;
    z-index: 1;
  }

  .cross {
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 2rem;
  }

  .navbar-mobile ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .navbar-mobile li {
    font-size: 3.5rem;
  }

  .heading {
    font-size: 4rem;
  }

  .social-media,
  .hero__email {
    display: none;
  }

  .github a {
    display: none;
  }

  .hero__title h2 {
    font-size: 6rem;
  }

  .hero__title h2:last-child {
    padding: 0 2.1rem;
  }

  .hero__subtitle {
    display: none;
  }

  .scroll a {
    left: 45%;
  }

  .pimages--small {
    display: none;
  }

  .project__small {
    gap: 2rem;
  }

  .project__small .button {
    margin-top: 0.5rem;
  }

  .desc__elem {
    width: 100%;
  }

  .stack {
    height: 80%;
    padding: 0;
  }

  .stack__title {
    font-size: 3rem;
  }

  .portfolio__footer {
    margin-top: -4rem;
  }

  .portfolio__footer--content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .portfolio__footer h2 {
    text-align: center;
  }
}

@media (width<376px) {
  .about__me {
    padding: 1.75rem 0.5rem;
  }
  .projects {
    padding: 0 0.5rem;
  }
  .portfolio__footer {
    padding: 0 0.5rem 2rem;
  }
}

@media (width<321px) {
  .hero {
    padding: 0.2rem;
  }
  .hero__title h2:last-child {
    padding: 0;
  }

  .scroll {
    display: none;
  }

  .about__me p {
    font-size: 1rem;
  }

  .project__github--button {
    padding: 0rem 0 3rem;
  }

  .project__github--button .button {
    font-size: 1.2rem;
  }

  .stack {
    height: 150%;
  }

  .stack__title {
    font-size: 2.2rem;
  }
}
